
body { 
	font: georgia, sans-serif;
	color: black; 
	font-style: bold;	
	background-color: #ffedb8;
	margin: 0; 
	padding: 0;
	position: relative;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	margin-left: 0.5em;
	     margin-right: 0.5em;
	}


#topBar a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
#topBar a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #9685BA;
	cursor: pointer;
	 box-shadow:  -2px 0px 2px white;
	background-color: #ffe4e1;
	}


#topBar{

	
	text-align: center;
	display: block;
	background-color:
	margin-bottom: 5px;
	margin-top: 1em;
	
}

#topBar a{
     background-color:#05878a;
     padding:  0.5em 0.5em;
     text-decoration: none;
     box-shadow:  -2px 0px 2px #05899a;
     font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;

}

#wrapper{
	width: 730px;
	background-color: #b8eeff;
	margin: 0 auto;
	margin-top: 2em;
	float: left;
}

 h1 { 
	  margin-top: 0.3em;
	  margin-left: 0.3em;
	}
 h2 { 
	    margin-left: 0.5em;
	     margin-right: 0.5em;
	
	}
figure{
	margin-top: 2em;
	float:left;
	display: block;
	background-color: #b8eeff;
}
figure img {
	 margin-left: 0.3em;
	 margin-top: 0.3em;
}
figcaption{
     margin-left: 0.3em;
	 margin-top: 0.3em;
	 margin-right: 0.3em;
}


footer { 

	background-color: #b8eeff;
	text-align: center; 
	float: left;
	display: inline;
	}



